<% const dir=process.cwd() %>
<!DOCTYPE html>
<html lang="ko">
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-student' ) %>
  <!-- Main -->
  <div class="container-sm">
    <div class="row row-cols-1 justify-content-center">
      <div class="col text-center mt-3">
        <span class="fs-2 fw-bold">졸업인증 학과내규</span>
      </div>
      <div class="col w-25 border-bottom border-dark shadow-lg mt-1"></div>
    </div>
    <!-- Main Text -->
    <div class="row mt-5 text-center">
      <iframe src="/templates/policy/graduationPolicy.pdf" frameborder="1" width="250" height="1000">
        이 브라우저는 iframe을 지원하지 않습니다.
      </iframe>
    </div>
  </div>
  <%- include(dir + '/src/views/common/footer' ) %>
</body>

</html>