<% const dir=process.cwd() %>
<!DOCTYPE html>
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-admin' ) %>
  <div class="alert alert-success d-none" id="alert_box">
    <strong id="alert_mention"></strong>
  </div>
  <div class="container-sm">
    <div class="row row-cols-1">
      <div class="col mt-3 text-center">
        <span class="d-flex justify-content-center fs-1 fw-bold">학생 계정 추가</span>
      </div>
      <div class="mt-1 mb-3 d-flex justify-content-center">
        <div class="w-50 border-top border-dark shadow-sm"></div>
      </div>
      <div class="col text-center my-3">
        <p>
          초기화시 유의사항
          <br>
          계정 비밀번호 초기화시 초기화된 비밀번호는 해당 계정의 ID입니다(학번)
        </p>
      </div>
      <div class="col text-center ">
        <div class="d-inline-flex my-2">
          <input class="form-control me-sm-2" type="text" placeholder="초기화할 학번을 입력하세요." id="searchInput">
          <button class="btn btn-secondary my-2 my-sm-0 d-flex" id="search">검색</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%- include(dir + '/src/views/common/footer' ) %>
  <script>
    const box = document.querySelector('#alert_box');
    const input = document.querySelector('#searchInput');
    const mention = document.querySelector('#alert_mention');

    const PutReset = (req, res) => {

      fetch('/assistant/auth/password', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            Input_ID: input.value
          })
        })
        .then((response) => {
          if (response.ok) {
            box.classList.add('d-none');
            return response.json();
          }
          return Promise.reject()
        })
        .then((data) => {
          if (data.success == true) {
            box.classList.remove('alert-danger');
            box.classList.add('alert-success');
            mention.textContent = '정상적으로 비밀번호가 초기화 되었습니다.';
          } else {
            box.classList.remove('alert-success');
            box.classList.add('alert-danger');
            mention.textContent = '비밀번호 초기화에 실패하였습니다.';
          }
          box.classList.remove('d-none');
        })
        .catch((error) => {
          console.error(error);
        })
    }
    const btn = document.querySelector("#search");
    btn.addEventListener('click', PutReset);
  </script>
</body>

</html>