<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>컴퓨터공학과 졸업인증</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <style> * {
    font-family: 'Noto Sans KR', sans-serif;
    } </style>
  

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/datepicker-bs5.min.css">
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/datepicker.min.js"></script>
  <script src="/javascripts/ko.js"></script>

  <style>
    .btn {
      white-space: nowrap;
    }
  </style>

</head>