<% const dir=process.cwd() %>
<!DOCTYPE html>
<html lang="ko">
<body>
    <h1>브라우저 미지원 안내</h1>
    <p>안녕하세요. 저희 컴퓨터공학과 졸업인증 기록관리 웹사이트에서는 <b>Internet Explorer</b>의 모든 버전을 지원하지 않습니다. <br>
        Chrome이나 다른 브라우저를 사용하시어 접속해주세요. <br>
        만약 Internet Explorer를 사용하지 않음에도 불구하고 본 메세지를 확인하신다면 자세한 상황과 함께 사무실로 문의 부탁드립니다. 
        감사합니다.
    </p>
</body>
</html>