<!-- Logout Modal -->
<div class="modal fade" id="logout">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">로그아웃 하시겠습니까</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">유지</button>
        <a href="/auth/logout">
          <button type="button" class="btn btn-danger">로그아웃</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="/student">컴퓨터공학과 졸업인증</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">졸업인증 심사신청</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/certificate">졸업인증 심사결과</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/notice">공지사항</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/question">건의/질문</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">졸업인증 학과내규</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">계정관리</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/student/auth">계정정보 변경</a>
            <a class="dropdown-item" href="/student/auth/password">비밀번호 변경</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="#logout" data-bs-toggle="modal" data-bs-target="#logout">로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>